.experience {
  flex-wrap: wrap;
}

.experience-item {
  min-width: 300px; 
  margin-bottom: 20px;
}

.tag {
  background-color: #ddd;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 10px;
}

.company{
  font-family: 'Karla-Regular', sans-serif;
  margin: 0px;
}

.title{
  margin: 0px;
}

.date {
  font-family: 'Karla-Italic', sans-serif;
  margin-bottom: 0px;
  margin-top: 5px;
}

.description {
  margin-top: 0px;
  font-size: 14px;
}
  
h2 {
  font-family: 'Karla-SemiBold', sans-serif;
  margin-bottom: 0px;
}

.semibold {
  font-family: 'Karla-Bold', sans-serif;
}
  