.experience {
  flex-wrap: wrap;
}

.experience-item {
  min-width: 300px; 
  margin-bottom: 20px;
}

.date {
  font-family: 'Karla-Italic', sans-serif;
  margin-bottom: 0px;
  margin-top: 5px;
}

.description {
  margin-top: 0px;
  font-size: 14px;
}
  
h2 {
  font-family: 'Karla-SemiBold', sans-serif;
  margin-bottom: 0px;
}

.semibold {
  font-family: 'Karla-Bold', sans-serif;
}

.nokia {
  width: 70px;
  margin: 0px;
}

.dell { 
  width: 170px;
  margin: 0px;
}

.rbc {
  width: 160px;
}

.amazon {
  width: 150px;
  margin: 0px;
}

.dell-title{
  margin: 0px;
  color: #036ba8;
}

.nokia-title{
  margin: 0px;
  color: #0053d9;
}

.rbc-title{
  margin: 0px;
  color: #154899;
}

.amazon-title{
  margin: 0px;
  color: #d96900;
}
